@model IEnumerable<ASP1_TCC.courts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.surface)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inside)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reservability)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.surface)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inside)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reservability)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCourts }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCourts }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCourts })
        </td>
    </tr>
}

</table>
